/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';  /* Project id 4416324 */
    src: url('//at.alicdn.com/t/c/font_4416324_7oaihoej32c.woff2?t=1705597626516') format('woff2'),
    url('//at.alicdn.com/t/c/font_4416324_7oaihoej32c.woff?t=1705597626516') format('woff'),
    url('//at.alicdn.com/t/c/font_4416324_7oaihoej32c.ttf?t=1705597626516') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}